header.header

    .header__wrapper

        nav.header-nav

            +menuList(
                [
                    {title: "It's", href: "https://github.com/SharyginNikita"},
                    {title: "My", href: "https://github.com/SharyginNikita"},
                    {title: "Start", href: "https://github.com/SharyginNikita"},
                    {title: "Template", href: "https://github.com/SharyginNikita"},
                ]
            )
