.title {

    font-size: 18px;
    font-weight: 600;
    font-family: $font-default;
    text-transform: uppercase;
    text-align: center;
    margin: 0;

    &_h1 {
    
        font-size: 26px;
    
    }
}

// use BAM modifier
