$font-default: 'Roboto', sans-serif;


$shadow-default: 3px 3px 3px 0 #b8b8b833;


$width-container: 1280px;


$color-black: #000;

$color-white: #FFF;

$color-gray: #707070;

$color-cyan: #0075cc;
$color-cyan-lg: #4cb3ff;
$color-cyan-dr: #0080ff;


