<aside class="aside">
    <div class="aside__menu aside-menu"><a class="aside-menu__link" href="#">Сведения об образовательной организации</a><a class="aside-menu__link" href="#">Учительская</a><a class="aside-menu__link" href="#">Всероссийская олимпиада</a><a class="aside-menu__link" href="#">Итоговая аттестация</a><a class="aside-menu__link" href="#">Летний лагерь</a><a class="aside-menu__link" href="#">Безопастность школьника</a><a class="aside-menu__link" href="#">Информационная безопасность</a><a class="aside-menu__link" href="#">Школьная жизнь</a><a class="aside-menu__link" href="#">Школьная жизнь</a><a class="aside-menu__link" href="#">Семейный клуб</a><a class="aside-menu__link" href="#">Родителям</a><a class="aside-menu__link" href="#">Обущающимся</a></div>
    <div class="aside__info aside-info">
        <h3 class="title">О СОШ №6</h3>
        <div class="aside-info__wrapper">
            <div class="aside-info__text">Вы находитесь на официальном сайте МАОУ «СОШ №6» города Северодвинска Архангельской области.
                Здесь вы можете получить всю информацию о нашей школе.
                Познакомиться с педагогическим коллективом, узнать о направлениях в
                обучении, деятельности образовательного учреждения (нормативные акты
                и программы развития МАОУ «СОШ №6»), о людях, кто прославил нашу школу,
                и многое другое. Так же у Вас есть возможность задать и
                получить ответы на интересующие вас вопросы.</div>
            <div class="button button_feedback">Обращение граждан</div>
        </div>
    </div>
</aside>