<div class="menu-wrapper">
    <div class="menu-close"></div>
    <ul class="menu menu_level_0">
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">О центре</a></li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Документы </a></li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Контакты</a></li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Концертный зал</a>
            <ul class="menu menu_level_1">
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Афиша</a></li>
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Аренда</a></li>
            </ul>
        </li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Рыбный ресторан</a>
            <ul class="menu menu_level_1">
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Афиша</a></li>
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Аренда</a></li>
            </ul>
        </li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Гостиный дом</a>
            <ul class="menu menu_level_1">
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Афиша</a></li>
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Аренда</a></li>
            </ul>
        </li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Клуб «SUB ZERO</a>
            <ul class="menu menu_level_1">
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Афиша</a></li>
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Аренда</a></li>
            </ul>
        </li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Аренда</a>
            <ul class="menu menu_level_1">
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Афиша</a></li>
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Аренда</a></li>
            </ul>
        </li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Учебный центр</a>
            <ul class="menu menu_level_1">
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Афиша</a></li>
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Аренда</a></li>
            </ul>
        </li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Воскресная школа</a>
            <ul class="menu menu_level_1">
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Афиша</a></li>
                <li class="menu__item menu__item_level_1"><a class="menu__link menu__link_level_1">Аренда</a></li>
            </ul>
        </li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Звукозаписывающая студия</a></li>
        <li class="menu__item menu__item_level_0"><a class="menu__link menu__link_level_0">Кружки</a></li>
        <div class="menu__bottom">
            <adress class="menu__adress">г. Архангельск, ул. Гайдара-57/1</adress><a class="menu__number" href="#">+7 (8182) 47-07-77 </a>
            <div class="menu__social"><a class="menu__social-link menu__social-link_twitter" href="#"></a><a class="menu__social-link menu__social-link_youtube" href="#"></a><a class="menu__social-link menu__social-link_instagram" href="#"></a></div>
        </div>
    </ul>
</div>