<div class="pager">
    <div class="pager__pages"><a class="pager__page pager__page_prev" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11">
                <defs>
                    <style>
                        .cls-1 {
                            fill: none;
                            stroke: #0073e6;
                            stroke-linecap: round;
                            stroke-linejoin: round
                        }
                    </style>
                </defs>
                <g id="Group_86" data-name="Group 86" transform="translate(.5 .5)">
                    <path id="Path_7" d="M4201 1884l-5 5 5 5" class="cls-1" data-name="Path 7" transform="translate(-4196 -1884)" />
                </g>
            </svg>
        </a><span class="pager__page pager__page_active">1</span><a class="pager__page" href="#">2</a><a class="pager__page" href="#">3</a><span class="pager__page">...</span><a class="pager__page" href="#">20</a><a class="pager__page pager__page_next" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11">
                <defs>
                    <style>
                        .cls-1 {
                            fill: none;
                            stroke: #0073e6;
                            stroke-linecap: round;
                            stroke-linejoin: round
                        }
                    </style>
                </defs>
                <g id="Group_86" data-name="Group 86" transform="translate(.5 .5)">
                    <path id="Path_7" d="M4201 1884l-5 5 5 5" class="cls-1" data-name="Path 7" transform="translate(-4196 -1884)" />
                </g>
            </svg>
        </a></div>
</div>