header.header

    .header__wrapper

        +navList('header-nav__link',
            false,
            {title: Главная, href: '/#'},
            {title: test, href: '/#'}
            )(class="header__nav header-nav")



