header.header

    .header__wrapper

        +menuList(
            [
                {title: 'Главная'},
                {title: 'Об автошколе'},
                {title: 'Цены'},
                {title: 'Учащимся'},
                {title: 'Контакты'}
            ])


