mixin menuList(items, deepLimit = 0, className = 'menu', deep = 0)

    - let menuClassName = className + " " + className + "_level-" + deep
    - let itemClassName = className + "__item " + className + "__item_level-" + deep
    - let linkClassName = className + "__link " + className + "__link_level-" + deep

    ul(class = menuClassName)
        each item in items
            li(class = itemClassName)
                a(href = item.href ? item.href : '#' class = item.extraClass ? linkClassName + " " + item.extraClass : linkClassName)= item.title
                if deep < deepLimit
                    +menuList(items, deepLimit, className, deep + 1)


//- example

    subsequent levels menu copy level 0 values

    items - array with objects containing link titles and href titles

    deepLimit - variable responsible for the number of levels

    deep - you can pass this variable to indicate the initial level of the menu (optional variable)

    class name ul - menu menu_level- + 'current deep value' --> menu menu_level-0
    class name li - menu__item menu__item_level- + 'current deep value' --> menu__item menu__item_level_0
    class name a - menu__link menu__link_level- + 'current deep value' --> menu__link menu__link_level_0

    +navList(
        [
            {title: 'linkTitle1', href: '/linkHref0', extraClass: 'active'} <-- if you need, you can set desired link (default value = '#') and/or extraClass,
            {title: 'linkTitle2', href: '/linkHref1'},
            {title: 'linkTitle3'},
            {title: 'linkTitle4'},
            {title: 'linkTItle4'}
        ],
        2,
        'className' <-- if you need
    )




