mixin navList(classNav, defaultHrefStatus, ...items)
    nav&attributes(attributes)
        each item in items
            if defaultHrefStatus
                a(href='#')&attributes(attributes)= item.title
            else
                a(href=item.link)&attributes(attributes)= item.title

